<div id="myModal" (click)="resolve()" class="modal" *ngIf="modalStatus">
  <!-- Modal content -->
  <div class="modal-content" [@dialog]>
    <div class="header" [style.background-color]="backColor">
      <h3>{{title}}</h3>
    </div>
    <div class="body">
      <p>{{body}}</p>
      <hr>
    </div>
    <div class="footer">

      <span class="footer-btn">

        <button class="btn btn-default" (click)="resolve('yes')">OK</button>
        <button class="btn btn-default" (click)="resolve('no')">CANCEL</button>
      </span>
    </div>
  </div>

</div>
