<div *ngIf="listgroup" >
<div class="thumbnail">
 <img [src]="listgroup.avatar"  style="height: 300px; width: 100%; display: block;"> 
{{listgroup.first_name}}
  <div class="caption">
    <h3>{{listgroup.last_name}}</h3>
    <!-- <ul style="margin: 0 -14px -24px -14px;" class="list-group" >
     <li class="list-group-item"  *ngFor="let list of listgroup.steps"> {{list}} </li> 
      </ul> -->
    <p>
      <!-- <a href="#" class="btn btn-primary" role="button">Button</a>
      <a href="#" class="btn btn-default" role="button">Button</a> -->
    </p>
  </div>
</div>
</div>